<!--<h1>name is {{title}}</h1>
<input type="text" [(ngModel)]="title">
<p>{{year%4==0 ? 'leap year':'Not a Leap Year'}}</p>
<input type="number" [(ngModel)]="year">
<p>{{li[0]}}</p>
<div>
  {{ selectedFeatures | json }}
</div>
<input type="number" [(ngModel)]="feature">
<button type="submit" (click)="onAdd()" class="btn btn-warning btn-sm mt-2">Add</button>
<button type="submit" (click)="onRemove()" class="btn btn-warning btn-sm mt-2">Remove</button>
<h2>Table</h2>
<div>
  <input type="text" [(ngModel)]="newItem" placeholder="Enter a new item">
  <button (click)="addToList1(newItem)">Add to List1</button>

  <table class="table">
    <thead>
      <tr>
        <th>SNo</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list1; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item }}</td>
      </tr>
      <tr class="line"></tr>
    </tbody>
  </table>
</div>-->

<input type="radio" [(ngModel)]="show" value="radio1">List
<div *ngIf="show=='radio1'">
  <demo-component></demo-component>
</div>
<input type="radio" [(ngModel)]="show" value="radio">table
<div *ngIf="show=='radio'">
<app-table></app-table>
</div>
<input type="radio" [(ngModel)]="show" value="radio2">none
<div *ngIf="show=='radio2'"></div>
<br>
Input : <input type='text' [(ngModel)]="num" />
      <div [ngSwitch]="num">
      <div *ngSwitchCase="'1'">One</div>
      <div *ngSwitchCase="'2'">Two</div>
      <div *ngSwitchCase="'3'">Three</div>
      <div *ngSwitchCase="'4'">Four</div>
      <div *ngSwitchCase="'5'">Five</div>
      </div>
      <div>
        <h3>{{date|date:'dd'}}</h3>
        <p>My Birthday is {{birthday | date:'fullDate'}} </p>
      </div>
     